body {
  padding-top: 60px;
  overflow-x: hidden !important;
  font-family: 'open-sans' sans-serif !important;
  background-color: #ffffff !important;
}

.header {
  text-align: center;
  padding: 100px 0;
  background-color: #ffc619;
  color: #000;
  font-family: sans-serif;

}

.features {
  text-align: center;
  padding: 100px 0;
  font-family: 'open-sans' sans-serif;
  color: #000 ;
  background-color: #ffc619;
}

.contact {
  text-align: center;
  padding: 100px 0;
  background-color: #212121;
  font-family: 'open-sans' sans-serif;
  color: #ffffff;

}

.team-section {
  text-align: center;
  background-color: #ffc619;
  padding: 100px;
  font-family: 'open-sans' sans-serif;

}
.team-member {
  margin-bottom: 20px;
  font-family: 'open-sans' sans-serif;
  text-align: center;
}



#services-section {
  padding: 0 0 5rem;
}